@define-color theme-primary-color #ffffff;
@define-color theme-secondary-color #0e1a2a;
@define-color theme-selected-color #ffcc00;

window.bar {
    background-color: transparent;
    color: @theme-selected-color;
    border-bottom: 2px solid @theme-primary-color;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme-selected-color;
}

button:hover {
    border-bottom: 3px solid @theme-secondary-color;
}

.workspaces box {
    background-color: transparent;
}

.workspaces button {
    color: @theme-primary-color;
    background-color: transparent;
}

.workspaces button.focused {
    color: @theme-selected-color;
    background-color: transparent;
}

.client-title {
    color: @theme-selected-color;
    background-color: transparent;
}

.notification {
    color: yellow;
    background-color: transparent;
}

levelbar block,
highlight {
    min-height: 10px;
}
