@define-color theme-bg-color #101e21;
@define-color theme-fg-color #ffffff;
@define-color theme-selected-bg-color #ffcc00;

window.bar {
    background-color: @theme-bg-color;
    color: @theme-fg-color;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme-selected-bg-color;
}

button:hover {
    border-bottom: 3px solid @theme-fg-color;
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    border-bottom: 3px solid @theme-selected-bg-color;
}

.client-title {
    color: @theme-selected-bg-color;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}
